PORT=3000
NODE_ENV=development
DB_URL=mongodb+srv://localhost:27017/ph-tour?appName=Cluster0

# BCRYPT
BCRYPT_SALT_ROUND=10

# JWT
JWT_ACCESS_SECRET=access_secret
JWT_ACCESS_EXPIRES=1d

# SUPER ADMIN
SUPER_ADMIN_EMAIL=super@gmail.com
SUPER_ADMIN_PASSWORD=12345678